.main-container {
    display:grid;
    grid-template-columns: 350px;
    grid-template-rows: 200px 60px 150px 60px 60px;
    width: 350px;
    height: 530px;
    justify-content: center;
    align-content: center;
    border: 10px solid grey;
    border-top:5px solid grey;
    border-bottom: 5px solid grey;


}
.item-text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.image-boat {
  width: 350px;
  height: 190px;  
}
.title {
 padding-top: 20px;
 font-size: 20px;
}
.introduction {
 text-align: left;
 font-size: 15px;
}
.publication-date{
    font-size:15px;
    text-align: right;
    padding-top: 30px;
}
.publication {
    font-weight: bold;
}
.date {
    color:green
}
.more-info {
 width: 330px;
 height: 50px; 
 color:white;
 font-weight: bold;
 font-size: 15px;
 background-color: green;
 border-color: darkolivegreen;
 margin-left: 11px;
}
.more-info:hover {
background-color: blue;
}





